.spinner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 100%;
    background-color: #f3f3f3c7;
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 0;
} 

.spinner-filter {

}