.dataTables_paginate {
  display: flex;
  justify-content: center;
}
.dataTables_paginate a {
  text-decoration: none;
  cursor: pointer;
}
.dataTables_paginate .paginate_button {
  padding: 0 5px;
}
.dataTables_paginate .paginate_button.next {
  margin: 0 10px;
}
.dataTables_paginate .paginate_button.previous {
  margin: 0 10px;
}
.dataTables_paginate .paginate_button.current {
  font-weight: bold;
}

.dataTables_length {
  margin: 18px 0;
}

.navbar-admin .navbar-collapse {
  background-color: #222529;
}

.dropdown-menu--profile {
  right: 0 !important;
  left: auto !important;
}

#product-main-image-picker,
#product-category-image-picker,
#product-images-picker {
  padding: 10px;
}
#product-main-image-picker img,
#product-category-image-picker img,
#product-images-picker img {
  max-height: 185px;
  width: auto;
  max-width: 100%;
  margin: auto;
}

#product-images-picker {
  padding-top: 20px;
}
#product-images-picker div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#product-images-picker img {
  border: 1px solid #d2d2d2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
  border-radius: 2px;
  max-height: 185px;
  width: auto;
  max-width: 100%;
  padding: 2px;
}

.product-main-img-selectable,
.product-images-selectable,
.product-category-img-selectable,
.slide-img-selectable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.product-main-img-selectable img,
.product-images-selectable img,
.product-category-img-selectable img,
.slide-img-selectable img {
  padding: 2px;
  border: 1px solid #d2d2d2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  cursor: pointer;
  border-radius: 2px;
  max-height: 185px;
  width: auto;
  max-width: 100%;
}
.product-main-img-selectable img.selected,
.product-images-selectable img.selected,
.product-category-img-selectable img.selected,
.slide-img-selectable img.selected {
  border: 5px solid #5d93e2;
}

.ck-editor__editable {
  min-height: 300px;
}

.admin-categories a {
  text-decoration: none;
}
.admin-categories .main {
  font-size: 1.3rem;
}
.admin-categories .child {
  font-size: 1.1rem;
}

#slideshow-wrapper .slide {
  padding: 15px;
}
#slideshow-wrapper .slide .slide-img img {
  max-width: 300px;
  margin: 15px auto 0;
  border: 1px solid #d2d2d2;
  box-shadow: rgba(0, 0, 0, 0.63) 0px 1px 3px;
}

.with-shadow {
  border: 1px solid #d2d2d2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
  background-color: white;
}
