
@import './imports/datatables';



.navbar-admin{
    .navbar-collapse {
        background-color: #222529;
    }
}

.dropdown-menu {
    &--profile {
        right: 0 !important;
        left: auto !important;
    }
}

#product-main-image-picker,
#product-category-image-picker,
#product-images-picker {
    padding: 10px;

    img {
        max-height: 185px;
        width: auto;
        max-width: 100%;
        margin: auto;
    }
}

#product-images-picker {
    padding-top: 20px;
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    img {
        border: 1px solid #d2d2d2;
        box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px;
        border-radius: 2px;
        max-height: 185px;
        width: auto;
        max-width: 100%;
        padding: 2px;
    }
}

.product-main-img-selectable,
.product-images-selectable,
.product-category-img-selectable,
.slide-img-selectable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
        padding: 2px;
        border: 1px solid #d2d2d2;
        box-shadow: rgb(0 0 0 / 16%) 0px 1px 3px;
        cursor: pointer;
        border-radius: 2px;
        max-height: 185px;
        width: auto;
        max-width: 100%;

        &.selected {
            border: 5px solid #5d93e2;
        }
    }
}

.ck-editor__editable {
    min-height: 300px;
}

.admin-categories {
    a {
        text-decoration: none;
    }

    .main {
        font-size: 1.3rem;
    }

    .child {
        font-size: 1.1rem;
    }
}

#slideshow-wrapper {

    .slide {
        padding: 15px;

        .slide-img {

            img {
                max-width: 300px;
                margin: 15px auto 0;
                border: 1px solid #d2d2d2;
                box-shadow: rgb(0 0 0 / 63%) 0px 1px 3px;
            }
        }
    }
}

.with-shadow {
    border: 1px solid #d2d2d2;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px;
    background-color: white;
}

.offer-data-divider {
    height: 1px;
    background-color: rgb(209, 209, 209);
    margin: 10px 0;
}

.variant-attributes {

    td {
        input {
            border: 1px solid #e2e2e2;
            text-align: center;
        }
    }
    th {
        position: relative;


        input {
            font-weight: 900;
            font-size: 1.1rem !important;
            border: 1px solid #a7a7a7;
            margin-bottom: 10px;
            text-align: center;

        }

        .p-variant-rm-col {
            position: absolute;
            top:-23px;
            left:50%;
            transform: translateX(-50%);
            display: none;
        }

        &:hover {
            .p-variant-rm-col {
                display: block;
            }
        }
    }


}

.product-variant {
    position: relative;
    
    .p-variant-delete {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 12px;
    }

    .pv-img-wrapper {
        display: flex;
        justify-content: center;
    }
    .pv-image-modal-btn {
        background-color: #1f58a5;
        color: white;
        border: none;
        padding: 3px 8px;
        border-radius: 3px;
        margin: auto;
    }
}

#users-list {
    cursor: pointer;
}