.dropdown-menu {
    &--profile {
        right: 0 !important;
        left: auto !important;
    }
}

#product-main-image-picker,
#product-images-picker {
    padding: 10px;
    border: 1px solid #4d4d4d;
}
#product-images-picker {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    img {
        border: 1px solid #a7a7a7;
        border-radius: 2px;
    }
}

.product-main-img-selectable,
.product-images-selectable,
.slide-img-selectable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    img {
        padding: 3px;
        border: 1px solid #858585;
        cursor: pointer;
        border-radius: 2px;

        &.selected {
            border: 3px solid rgb(34, 65, 241);
        }
    }
}

.ck-editor__editable {
    min-height: 300px;
}

.admin-categories {
    a {
        text-decoration: none;
    }

    .main {
        font-size: 1.3rem;
    }

    .child {
        font-size: 1.1rem;
    }
}

#slideshow-wrapper {

    .slide {
        padding: 15px;

        .slide-img {

            img {
                margin-top: 12px;
            }
        }
    }
}